
/*En video editamos las especificaciones para posicionar nuestro video de fondo*/
video {
    /*ponemos position fixed para que si se desplaza la pagina el video se mantenga en la misma posicion*/
    position: fixed;
    /*usamos min width y height para que nuestro video ocupe como minimo el 100% de la pantalla*/
    min-width: 100%;
    min-height: 100%;
    /*el top, left y transform intentamos centrar el video*/
    top: 50%;
    left: 50%; 
    transform: translateX(-50%) translateY(-50%);
    /*con z index posicionamos el video en el fondo. un z index con un valor alto esta posicionado mas adelante, mientras que uno con menor valor esta posicionado mas atras*/
    z-index: -1;
 }


/*Header*/

header {
    margin: 15px;
    display: flex;
    background-color: #0e1214d1;
    justify-content: space-between;
}

.logo {
    /*ajustamos el tamaño del logo y su radio (hacemos que sea una img circular)*/
    width: 100px;
    border-radius: 60px;
}

ul {
    /*le sacamos al ul los puntitos de la lista*/
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar a {
    /*como tenemos un a href, usamos esta seccion para que nuestro texto no aparezca en color azul y subrayado*/
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 0px 30px;
}

#buscador{
    background-color: #405157bf;
}

/*Main*/

main {
    margin:15px;
    background-color: #0d1112;
    color: white;
}

.peliculas-titulo {
    display: flex;
    justify-content: center;
}

.section-pelis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.article-pelis {
    width: 100%;
    padding: 30px;
}

.imgPelis {
    width:100%;
    height: 250px;
}

.section-series {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.article-series {
    width: 100%;
    padding: 30px;
}

.imgSeries {
    width:100%;
    height: 250px;
}

/*Footer*/

footer {
    background-color: rgb(42, 43, 44);
}

.integrantes {
    text-align: center;
    color: rgb(127, 124, 124);
}


/* Lo pasamos a celular*/
@media(max-width: 420px){
    
    header {
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .section-pelis {
        flex-wrap: wrap;
    }

    .section-series {
        display: flex;
        flex-wrap: wrap;
    }
}


/* pelis.hmtml */
.imgDetalles {
    width:30%;
    height: 600px;   
}

