body {
    background-color: #0c2023;
}

/*Header*/

header {
    margin: 15px;
    display: flex;
    background-color: #1C2833;
    justify-content: space-between;
}

.logo {
    /*ajustamos el tamaño del logo y su radio (hacemos que sea una img circular)*/
    width: 50px;
    border-radius: 60px;
    padding: 10px;
}

.navbar {
    /*le sacamos al ul los puntitos de la lista*/
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar a {
    /*como tenemos un a href, usamos esta seccion para que nuestro texto no aparezca en color azul y subrayado*/
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 0px 30px;
}

#buscador{
    background-color: #405157bf;
}

#secbus{
     width:200px;
     height: 100%;
     margin: 15px;
     display: flex;
     flex-direction: column;
     
}

/*Main*/
.banner {
    width: 100%;
    height: 230px;
}

main {
    margin:15px;
    background-color:#1C2833;
    color: white;
}

.peliculas-titulo {
    padding-top: 10px;;
    display: flex;
    justify-content: center;
}

.series-titulo {
    display: flex;
    justify-content: center;
}

.section-pelis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: row; 
}

.article-pelis {
    width: 100%;
    padding: 30px;
    
}

.article-pelis a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#ffffff;
    text-decoration:underline;
}

.imgPelis {
    width:100%;
    height: 250px;
    border: 3px solid #000000;
}

.section-series {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.article-series {
    width: 100%;
    padding: 30px;
}

.article-series a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#ffffff;
    text-decoration:underline;
}

.imgSeries {
    width:100%;
    height: 250px;
    border: 3px solid #000000;
}

/*Footer*/

footer {
    background-color: #1C2833;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
}

.integrantes {
    text-align: center;
    color: rgb(127, 124, 124);
    margin: 0px;
}

.TMDB {
    width: 200px;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Lo pasamos a celular*/
@media(max-width: 420px){
    
    header {
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .section-pelis {
        flex-wrap: wrap;
    }

    .section-series {
        display: flex;
        flex-wrap: wrap;
    }

    main {
        display: flex;
        margin: 0px;
        flex-direction: column ;
    }

    .pelisDetalles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    
    .pelisDetalles .ul-descripcion-peli {
        padding: 15px;
    }
}


/* pelis.hmtml (el codigo del css en pelis.html es reutilizado para hacer series.html)*/
.titulo-peli-descripcion {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.imgDetalles {
    width:350px;
    height: 400px; 
    padding:30px; 
}

.pelisDetalles {
    display: flex;
    flex-direction: row;
}

.ul-descripcion-peli {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-right: 30px;
    padding-left: 0px;
    padding-top: 15px;
    font-size: 18px;
}

.ul-descripcion-peli li {
    margin:6px;
}



/*buscador titulo es el titulo del search result html. es un h2 que lo centramos*/
.buscador-titulo {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

/*editamos el diseño de generos html*/
.generos-peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.article-generos-peliculas {
    margin: 10px;
    width: 300px;
    background-color: #a5a1b9;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.article-generos-peliculas a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    justify-content: center;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

/* Busqueda.html*/
.noEncontro {
    display: none;
}

.imgrecom{
    width: 220px;
    height: 330px;
}

#recomendacion{
    display: none;
}